.my-table {
  max-width: 90vw;
  border-collapse: collapse;
}

.my-table td,
.my-table th {
  border-bottom: 1px solid #e6dfdf;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}

.select2-container--default .select2-selection__clear {
  display: none !important;
}
/* 
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 1.5;
  padding: 0 !important;
} */
.btn-warning-custom {
  color: white;
  background-color: #ffa500;

  transition: background-color 0.3s;
}

.btn-warning-custom:hover {
  background-color: #d98100;
  color: white;
}
