/* .dropdown-container {
  width: 100%;
}

.dropdown-toggle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-toggle .arrow {
  margin-left: auto;
} */
