.my-table {
  max-width: 90vw;
  border-collapse: collapse;
}

.my-table td,
.my-table th {
  border-bottom: 1px solid #e6dfdf;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}
.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  /* font-size: 75%; */
  /* font-weight: 700; */
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.5em;
}

.label-success {
  background-color: #5cb85c;
  color: #fff;
}

.label-danger {
  background-color: #d9534f;
  color: #fff;
}

.label-warning {
  background-color: #f0ad4e;
  color: #fff;
}
